.required-field  {
    color: red;
    font-size:  20px;
}

.flash {
    color: white;
    border: none;
}

.flash-danger {
    background-color: #d9534f;
}

.flash-warning {
    background-color: #F0AD56;
}

.flash-success {
    background-color: #5cb85c;
}

.table-clickable tr {
  cursor: pointer;
}

.btn-app {
  font-size: 14px!important;
}

/** 
 * Style datatable pages dropdown 
 */
.dataTables_wrapper select, .dataTables_wrapper input {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.dataTables_wrapper input {
  border-radius: 0px;
}

.flash-message {
  position: absolute;
  height: 50px;
  z-index: 10000;
  width: 100%;
  border-radius: 0px;
  font-size: 18px;
}

.issue-view-page .fancybox img {
  width: 300px;
}

.issue-view-page .dropzone .dz-default.dz-message {
  background-image: none;
}

.issue-view-page .dropzone {
  background: none;
  border: none;
  min-height: 100px;
}